<!DOCTYPE html>
<html ng-app="ds.datepicker">
<head>
    <title>dsDatepicker example</title>
    <link rel="stylesheet" href="src/styles/dsDatepicker.css"/>
</head>
<body ng-controller="TestCtrl">

<h1>dsDatepicker example</h1>

<button ng-click="disabled = !disabled">Switch disable</button>

<!-- Example Usage -->
<div>
    <span>Choose the current date:</span>
    <span ds-datepicker="" ng-model="date" config="dateConfig" ng-disabled="disabled"></span>
</div>
<div ds-datepicker="" ng-model="date" config="secondDateConfig" style="width: 500px"></div>
<div ng-bind="date"></div>

<!-- Vendor -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/moment/locale/de.js"></script>

<!-- Externals -->
<script src="bower_components/angular-dateparser/dist/angular-dateparser.js"></script>

<!-- own -->
<script src="src/scripts/app.js"></script>

<script src="src/scripts/controllers/dsDatepickerCtrl.js"></script>
<script src="src/scripts/services/dsDatepickerService.js"></script>
<script src="src/scripts/services/dsDateFormatService.js"></script>
<script src="src/scripts/directives/dsDatepicker.js"></script>
<script src="src/scripts/directives/dsDateFormat.js"></script>
<script src="src/scripts/filters/dsMomentFilter.js"></script>


<script type="text/javascript">
    angular.module('ds.datepicker')
            .controller('TestCtrl', function($scope) {
                $scope.date = new Date();

                $scope.dateConfig = {
                    dateFormat: 'DD.MM.YYYY',
                    pickerFormat: 'MMMM YY'
                };

                $scope.secondDateConfig = {
                    dateFormat: "ddd [the] DD of MMM YYYY"
                };
            });
</script>

</body>
</html>
