<div class="dsDatepicker">

  <!-- Input section: Input field to enter a custom date + button to open the datepicker -->
  <div class="l-input">
    <input class="datepicker-inputField boxBorder" type="text"
           ds-date-format
           ng-model="pickerCtrl.curDate"
           ng-change="pickerCtrl.setDate(pickerCtrl.curDate)"
           ng-disabled="pickerCtrl.disabled"
           format="{{pickerCtrl.config.dateFormat}}"/>
    <div class="datepicker-opener-group">
      <button
          class="datepicker-opener-btn datepicker-icon boxBorder"
          ng-click="pickerCtrl.flipPickerState($event)" ng-disabled="pickerCtrl.disabled"></button>
    </div>
  </div>

  <!-- Datepicker -->
  <div ng-if="pickerCtrl.open" class="l-datepicker boxBorder" ng-click="$event.stopPropagation()">
    <div class="interactionArea">
      <div class="month-decrease">
        <div ng-click="pickerCtrl.subMonth()" class="arrow arrow-left"></div>
      </div><!--
      --><div class="pickerDate">
        <span id="curDate"
              ng-bind="pickerCtrl.date | dsMomentFilter:(pickerCtrl.config.pickerFormat || pickerCtrl.config.dateFormat)"></span>
      </div><!--
      --><div class="month-increase">
        <div ng-click="pickerCtrl.addMonth()" class="arrow arrow-right"></div>
      </div>
    </div>
    <div class="datepicker-table">
      <div class="datepicker-table-header">
        <div class="datepicker-table-row">
          <div class="datepicker-table-head" ng-repeat="day in [0, 1, 2, 3, 4, 5, 6]"
               ng-bind="::(pickerCtrl.dates[day] | dsMomentFilter:'ddd')">
          </div>
        </div>
      </div>
      <div class="datepicker-table-body">
        <div class="datepicker-table-row" ng-repeat="week in [0, 1, 2, 3, 4, 5]">
          <div class="datepicker-day" ng-repeat="day in [1, 2, 3, 4, 5, 6, 7]"
               ng-click="pickerCtrl.setDateAndViewValue(pickerCtrl.dates[(week * 7) + day - 1])"
               ng-class="pickerCtrl.determineClasses(week, day)"
               ng-bind="pickerCtrl.dates[(week * 7) + day - 1] | dsMomentFilter:'DD'">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
